<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdinit.icecream.sys.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zdinit.icecream.sys.entity.Role">
        <id column="id" property="id" />
        <result column="rolename" property="roleName" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, rolename, state
    </sql>

    <select id="listRoleByIds" resultType="com.zdinit.icecream.sys.vo.RoleVo">
        select sr.*,sur.user_id from sys_role sr left join sys_user_role sur on sur.role_id=sr.id
        where sur.user_id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="listRoleByUserId" resultType="com.zdinit.icecream.sys.entity.Role">
        select sr.* from sys_role sr left join sys_user_role sur on sur.roleid=sr.id
        where sur.user_id = #{id}
    </select>

</mapper>
